fastapi
uvicorn
pydantic
motor
pymongo
python-jose[cryptography]
PyPDF2
python-docx
huggingface-hub
ollama
nltk
numpy==1.26.4
scipy==1.11.4
python-dotenv
requests
langchain
langchain-community
langchain-google-genai
gensim==4.3.2
