fastapi
uvicorn
pydantic
motor
pymongo
python-jose[cryptography]
PyPDF2
python-docx
huggingface-hub
ollama
nltk
numpy
scipy
python-dotenv
requests
langchain
langchain-community
langchain-google-genai
gensim==4.3.2
